<!--2021-01-25, Bruce-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/canvas.js" type="text/javascript" charset="utf-8"></script>

		<style>
			body {
				margin: 0;
				padding: 0;
			}

			.title {
				background-color: lightgray;
				padding: 5px;
				font-size: 20px;
				text-align: center;
			}

			.header {
				background-color: lightgray
			}

			canvas {
				border: 0px dashed black;
			}

			[v-cloak] {
				display: none
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<!--报表标题-->
			<div class="title">SL4等速训练报告</div>

			<!--用户数据-->
			<table border="1" cellspacing="0" cellpadding="5" width="100%" style="text-align: center;">
				<tr>
					<td width="20%" class="header">生成时间</td>
					<td colspan="5">{{datas.length > 0 ? datas[0].REPORTDATE : ''}}</td>
				</tr>
				<tr>
					<td width="20%" class="header">用户</td>
					<td colspan="3">{{user.USERNAME}}</td>
					<td width="20%" class="header">用户编号</td>
					<td width="30%">{{user.NUM}}</td>
				</tr>
				<tr>
					<td width="20%" class="header">性别</td>
					<td>{{user.SEX}}</td>
					<td width="10%" class="header">年龄</td>
					<td>{{user.AGE}}</td>
					<td width="20%" class="header">注册日期</td>
					<td width="30%">{{user.TIME}}</td>
				</tr>
				<tr>
					<td width="20%" class="header">病史</td>
					<td colspan="5">{{user.HISTORY}}</td>
				</tr>
				<tr>
					<td width="20%" class="header">备注</td>
					<td colspan="5">{{user.REMARK}}</td>
				</tr>
			</table>

			<!--训练数据-->
			<table border="1" cellspacing="0" cellpadding="5" width="100%" style="text-align: center;">
				<tr>
					<td colspan="6" align="center">
						<canvas id="canvas" width="900" height="580"></canvas>
					</td>
				</tr>
				<tr class="header">
					<th v-for="(item, index) in arrColumn1">{{item}}</th>
				</tr>
				<tr v-for="(data, index) in datas">
					<td>{{index + 1}}</td>
					<td>{{data.EBERGY}}</td>
					<td>{{(data.EBERGY * 1000 / min2Sec(data.TIME)).toFixed(2)}}</td>
					<td>{{data.VELOCITY}}</td>
					<td>{{data.NOW}}</td>
					<td>{{data.TIME}}</td>
				</tr>
				<tr class="header">
					<th v-for="(item, index) in arrColumn2">{{item}}</th>
				</tr>
				<tr v-for="(data, index) in datas">
					<td>{{index + 1}}</td>
					<td>8</td>
					<td>{{data.SYMMERTYLEFT}}</td>
					<td>{{data.SYMMERTYRIGHT}}</td>
					<td>{{data.SYMMERTYLEFT}}</td>
					<td>{{data.SYMMERTYRIGHT}}</td>
				</tr>
				<tr>
					<td colspan="6" style="text-align: left;">评估结果：</td>
				</tr>
				<tr>
					<td colspan="6" style="text-align: left;">康复意见：</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: right;"></td>
					<td style="text-align: left;">治疗师：</td>
					<td style="text-align: left;">日期：</td>
				</tr>
			</table>
		</div>

		<script>
			reloadAbleJSFn("Config", "data/REPORT_20201103_1.js?t=" + Math.random());
			
			var app = new Vue({
				el: '#app',
				data: {
					user: {},
					datas: {},
					arrColumn1: ['次数', '总功(千焦)', '平均功率', '速度(r/min)', '最大肌力', '时间(分钟)'],
					arrColumn2: ['次数', '成功次数', '左右力矩比(%)-左', '左右力矩比(%)-右', '屈/伸力矩比(%)-左',
						'屈/伸力矩比(%)-右'
					],
					counter: 0
				},
				mounted: function() {
					console.log('mounted');
					var that = this;
					
					setTimeout(function() {
						that.parseData();
						that.showReport();
					}, 100);

					that.$nextTick(function() {
						console.log('mounted all');
					})
				},
				methods: {
					parseData: function() {
						this.user = JSON.parse(userData)[0];
						this.datas = JSON.parse(arrData);
					},
					showReport: function() {
						var offset_x = 50;
						var offset_y = 50;
						var scale_x = 2;
						var scale_y = 9.6;
						var width = (360 + 40) * 2;
						var height = 240 * 2;

						var canvas = document.getElementById("canvas");
						var context = canvas.getContext("2d");
						context.strokeStyle = "#000000";
						context.lineWidth = 2;

						this.counter++;
						if (this.counter % 2 == 0)
							return;

						// X轴
						context.translate(offset_x, offset_y); // 移动坐标系
						addLine(context, 0, height, width, height, "#000000");
						// 角度刻度值
						var width_x = width / 10;
						for (var i = 0; i < 10; i++) {
							if (i > 0) {
								addLine(context, width_x * i, height, width_x * i, height + 8, "#000000");
							}
							addText(context, 360 / 9 * i + '', width_x * i - 10, height + 15);
						}
						// X轴箭头
						drawPolygon(context, {
							x: width,
							y: height,
							num: 3,
							r: 8,
							fillStyle: '#000000'
						})
						addText(context, '角度 (°)', width - 25, height + 15);

						// Y轴
						var height_y = height / 10;
						addLine(context, 0, 0, 0, height, "#000000");
						// 力矩刻度值
						for (var i = 0; i < 10; i++) {
							if (i > 0) {
								addLine(context, -8, height_y * i, 0, height_y * i, "#000000");
								addText(context, 25 - 5 * i + '', -40, height_y * i - 10);
							}
						}
						// Y轴箭头
						drawPolygon(context, {
							x: 0,
							y: 0,
							num: 3,
							r: 8,
							angle: Math.PI * 2 * (-90 / 360.0),
							fillStyle: '#000000'
						})
						addText(context, '力矩 (NM)', -40, -30);
						//addLine(context, 360 * scale_x, 0, 360 * scale_x, 600, "#ff0000"); // X轴测试
						context.translate(-offset_x, -offset_y); // 移动坐标系

						//setInterval(function() {
						// 清除画布
						context.translate(offset_x + 1, offset_y + 5);
						//clearCanvas(context, width, height - 10);
						context.translate(-(offset_x + 1), -(offset_y + 5));

						// 曲线数据
						var arrPoint = [];
						for (var i = 0; i < 360; i++) {
							if (i % 10 == 0) {
								arrPoint.push({
									x: i * scale_x,
									y: Number(41 * Math.random() - 20) * -scale_y
								});
							}
						}

						// 绘制曲线
						context.translate(offset_x, height / 2 + offset_y);
						addCurve(context, arrPoint);
						//addLine(context, 0, 20 * -scale_y, width, 20 * -scale_y, "#ff0000"); // Y轴测试
						context.translate(-offset_x, -(height / 2 + offset_y));
						//}, 2 * 1000);
					},
					min2Sec: function(min) {
						var index = min.indexOf(":");
						if (index > 0) {
							var m = min.substr(0, index);
							var s = min.substring(index + 1);
							//console.log(m + "," + s);
							return Number(m) * 60 + Number(s);
						}
						return 0;
					},
					// var selLang = _self.convertLanguage(_self.getQueryString("mSelLanguage"));
					getQueryString: function(name) {
						var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
						var r = window.location.search.substr(1).match(reg);
						if (r != null)
							return unescape(r[2]);
						return null;
					}

				}
			})
		</script>
	</body>
</html>
